#navbar-container {
    background-color: yellow;
}

#home {
    background-color: pink;
}

#workout {
    background-color: green;
} 

#profile {
    background-color: blue;
} 

#equip {
    background-color: purple;
}